@page
@model ChangePasswordModel
@{
    // Angir tittelen for visningen
    ViewData["Title"] = "Endre passord";
    // Angir aktiv side for navigasjon (for eksempel høylysing i en meny)
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<!-- Overskrift for visningen -->
<h3>@ViewData["Title"]</h3>

<!-- Skjema for endring av passord -->
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <!-- Viser valideringsfeil samlet på modellen -->
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <!-- Inputfelt for gammelt passord -->
            <div class="form-floating mb-3">
                <input asp-for="Input.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Skriv inn ditt gamle passord" />
                <label asp-for="Input.OldPassword" class="form-label">Skriv inn ditt gamle passord</label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
            </div>
            <!-- Inputfelt for nytt passord -->
            <div class="form-floating mb-3">
                <input asp-for="Input.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Skriv inn ditt nye passord" />
                <label asp-for="Input.NewPassword" class="form-label">Skriv inn ditt nye passord</label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
            </div>
            <!-- Inputfelt for bekreftelse av nytt passord -->
            <div class="form-floating mb-3">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Bekreft ditt nye passord" />
                <label asp-for="Input.ConfirmPassword" class="form-label">Bekreft ditt nye passord</label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            <!-- Knapp for å sende inn skjemaet -->
            <button type="submit" class="w-100 btn btn-lg btn-primary">Oppdater passord</button>
        </form>
    </div>
</div>

<!-- Seksjon for scripts -->
@section Scripts {
    <!-- Inkluderer delvis visning for validerskripter -->
    <partial name="_ValidationScriptsPartial" />
}
