@page
@model IndexModel

<!-- Andre Razor-kode, HTML eller C# Razor-kode -->
<!-- Dine HTML-elementer, C# Razor-kode, etc. -->

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <!-- Skjema for å oppdatere profilen -->
        <form id="profile-form" method="post">
            <!-- Viser valideringsfeil sammenfattet for modellen -->
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            
            <!-- Inndatafelt for brukernavn (deaktivert da det ikke skal endres) -->
            <div class="form-floating mb-3">
                <input asp-for="Username" class="form-control" placeholder="Vennligst velg ditt brukernavn." disabled />
                <label asp-for="Username" class="form-label">Brukernavn</label>
            </div>
            
            <!-- Inndatafelt for telefonnummer med tilhørende valideringsfeilmelding -->
            <div class="form-floating mb-3">
                <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Vennligst skriv inn telefonnummeret ditt." />
                <label asp-for="Input.PhoneNumber" class="form-label">Telefonnummer</label>
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            
            <!-- Knapp for å lagre endringene -->
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Lagre</button>
        </form>
    </div>
</div>

@section Scripts {
    <!-- Inkluderer partiell visning for valideringsskript -->
    <partial name="_ValidationScriptsPartial" />
}