@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Velkommen til hjemmesiden!</h1>
    <p></p>
</div>

@{
    /*
     * koden er en enkel HTML-side med en overskrift og en avsnitts-tag,
     * og det legges til tittelinformasjon via Razor-kode. Den bruker også Bootstrap-klasser for å
     * gi en viss visuell stil. Dette kan være en hjemmeside-velkomstsiden eller lignende.
     */
}
